@import "../../../scss/base/settings";

.h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Georgia, sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding-bottom: 20px;
}

.blockStat {
  background-color: $colorGroup2;
  border-radius: 10px;
  padding: 10px;
} 

.blockStatTitle {
  font-family: Georgia, sans-serif;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.statisticValue {
    padding: 5px;
    min-width: 40px;
    text-align: right;
}