// Color Text
$colorText:#010101;
$colorHeaderText:#ffffff;
$colorLearnWord:#0004ff;
$colorHardWord:#ff0000;
$colorFocusHeader:#ff5e00;

// Backgroun Color
$backgroundHeader:#78bcf0;
$backgroundFooter:#035a91;
$backgroundBurger:#006cbe;
$backgroundBody:#ebeff3;

// Font size
$size21px: 21px;
$size19px: 19px;
$size16px: 16px;
$size14px: 14px;

// Font family
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoSlab:'Roboto Slab', serif;
$fontMontserrat: 'Montserrat', serif;;
