@import "../../../scss/base/settings";

.textbook {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.group {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 10px;
}

.group__link {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 15%;
    color: $colorWhite;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.group-1 {
    background-color: $colorGroup1;
}

.group-2 {
    background-color: $colorGroup2;
}

.group-3 {
    background-color: $colorGroup3;
}

.group-4 {
    background-color: $colorGroup4;
}

.group-5 {
    background-color: $colorGroup5;
}

.group-6 {
    background-color: $colorGroup6;
}

.group-7 {
    background-color: $colorGroup7;
}

.main-textbook {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.nav-textbook {
    display: flex;
    position: sticky;
    top: 0;
    margin: 10px auto;
    column-gap: 20px;
}

.nav-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid $colorGroup1;
    background-color: $colorWhite;
}

.nav-button_enabled {
    cursor: pointer;

    &:hover {
        background-color: $colorGroup1;
        color: $colorWhite;
    }
}

.nav-button_disabled {
    background-color: $colorGroup1;
}

.wrapper-page-textbook {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cardWord {
    display: flex;
    gap: 1%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.multimediaBlock {
    width: 40%;
}

.imgBlock {
    width: 100%;
}

.imgWord {
    width: inherit;
    border-radius: 10px;
}

.buttonAdd {
    display: flex;
    justify-content: space-between;
}

.imgAudio {
    width: 40px;
    height: 40px;
    cursor: pointer;
    fill: $colorMedia;
}

.imgLearn {
    width: 25px;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
    fill: $colorMedia;
}

.imgHard {
    width: 35px;
    height: 35px;
    padding-top: 5px;
    cursor: pointer;
    fill: $colorMedia;
}

.word {
    padding: 0 10px;
}

.h3 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
}

.h4 {
    margin-bottom: 10px;
}

.work-learned {
    color: #5e6469;
}